/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Body style

    /* Nav Bar */
    .noMobile{
        display: none;
    }

    .nav{
        background-color: black;
        border-radius: 100%;
        width: 13vw;
        height: 12vw;
        position:fixed;
        top: 1em;
        left: 0.5em;
        z-index: 9;
    }

  
    .fa-bars{
        color: white;
        position: absolute;
        left: 4.1vw;
        top: 3vw;
        font-size: 1.5em;
    }

    #backg-nav{
        display: none;
        position: absolute;
        z-index: 9;
    }

    /* body{background-color: #0301016b; */

    #list-nav{
        background-color: #FFCC00;
        width: 35vw;
        height: 20em;
        position: absolute;
        /* z-index: 9; */
        top: 8.5vw;
        left: -3vw;
        border-radius: 5%;
        display: none;
    }

    #list-nav a{
        text-decoration: none;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;

    }

    #list-nav p:hover{
        font-size: 15px;
        text-decoration: 1px underline red ;
    }
 

    /* Log Box */
    .logBox{
        width: 75vw;
        height: 145vw;
    

        border: 20px;
        border-radius: 2%;
        background-color: #d9d9d9;

        position: absolute;
        top: 15%;
        text-align: center;
        left: 15.5%;
    }

    input{
        text-align: center;
        background-color: #6699CC ;
        position: relative;
        top: -10px;
    }

    .invalid-feedback{
        position: absolute;
        top: 25px;
        z-index: 9;
    }

    .inputTwo{
        position: relative;
        top: -10px;
    }
    
    .inputThree{
        position: relative;
        top: -20px;
    }

    .inputFour{
        position: relative;
        top: -30px;
    }

    .btn{
        position: relative;
        top: -30px;
    }

    /* History Log */

    .historyViewLog h2{
        text-align: center;
    }

    .historyViewLog{
        position: absolute;
        width: 90%;
        top: 180vw;
        left: 8%;

        
    }

    .box-history-log{
        background-color: black;
        height: 500px;
        border-radius: 5%;
    }


    
      /* Autp Parts */
    #shape{
        width: 10px;
        height: 80em;
        background-color: gray;
        position: absolute;
        top: 4em;
        left: 50%;
    }

    .autoParts-box{
        background-color: gray;
        width: 90vw;
        height: 200px;
        position: relative;
        top: 83em;
        border-radius: 5%;
        left: 5vw;
    }
    .autoParts-box h2{
        color: white;
    }

    .fa-circle-left{
        position: relative;
        top: 1.5em;
        right: -2vw;
        font-size: 40px;
        
      }

      .fa-circle-right{
        position: relative;
        float: right;
        right: 2vw;
        font-size: 40px;
        top: 1.5em;
      }
   
            /* OEM */

      
      .OEM{
        background-color:  #A41011;
        height: 30em;
        border-radius: 10%;
        position: relative;
        top: 1.5em;
      }
      .OEM h3
{
    text-align: center;
    color: white;
    letter-spacing: 3px;

}
      .OEM-parts{
        background-color: #ffffff;
        height: 300px;
        position: relative;
        top: 10px;
      }

      .OEM-aboutInfo{
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 1;
        border-radius: 3%;
        color: white;
      }
      .OEM-aboutInfo summary{
        color:  black;
        background-color:  #FFCC00;
        position: relative;
        border-radius: 5%;
        width: 4em;
        
      }

      .OEM-aboutInfo h8{
        color: red;
      }




            /* Aftermarket */
     .AfterMarket{
        background-color: black;
        height: 30em;
        border-radius: 10%;
        position: relative;
        top: 3em;
     }

     .AfterMarket h3{
        color: white;
        position: relative;
        left: 6vw;
        text-align: center;
        top: 2%;
     }
     .aftermarket-parts{
        background-color: #ffffff;
        height: 300px;
        position: relative;
        top: 20px;
     }

     .afterMarket-aboutInfo{
        position: absolute;
        top: 1em;
        left: 20px;
        z-index: 1;
        border-radius: 3%;
        color: white;
     }
     .afterMarket-aboutInfo summary{
        color:  black;
        background-color:  #FFCC00;
        position: relative;
        border-radius: 5%;
        width: 4em;
     }

     .afterMarket-aboutInfo h8{
        color: red;
     }

            /* Performance */
     .Performance{
        background-color: #827f7f;
        height: 30em;
        border-radius: 10%;
        position: relative;
        top: 4.5em;
     }

     .Performance h3{
        color: white;
        position: relative;
        left: 6vw;
        text-align: center;
        top: 2%;
     }

     .performance-parts{
        background-color: #ffffff;
        height: 300px;
        position: relative;
        top: 20px;
     }

      .Performance-aboutInfo{
        position: absolute;
        top: -2.5em;
        left: 5%;
        z-index: 8;
        border-radius: 3%;
        color: white;
      }

      .Performance summary{
        color:  black;
        background-color:  #FFCC00;
        position: relative;
        border-radius: 5%;
        width: 4em;
     }



    /* How To */

    /* .howTo{
        position: relative;
        top: 206em;
        height: 740px;
        border: 5px solid rgba(255, 217, 0, 0.34);
    } */

    #shape-2{
        width: 10px;
        height: 500px;
        background-color: #827f7f;
        position: absolute;
        left: 50%;
        top: 6em;
    }
    .howTo-box{
        background-color: gray;
        position: relative;
        top: 180em;
        height: 200px;
        border-radius: 5%;
        width: 90vw;
        left: 5vw;
    }

    .howTo-box h2{
        color: white;
        text-align: center;
    }
            /* Videos */
    .howTo-video{
        background-color: #0c49cdb3;
        height: 300px;
        position: relative;
        top: 5px;
    }

    .howTo-box h4{
        color: white;
        text-align: center;
    }

    .detail-video{
        position: absolute;
        z-index: 9;
        left: 40%;
        top: 5%;
    }

    .detail-video-list{
        position: absolute;
        right: 100px;
        background-color: #FFCC00;
    }

    .scroll-box{
        height:250px;
        width:90vw;
        border:1px solid rgba(255, 0, 0, 0);
        font:16px/26px Georgia, Garamond, Serif;
        overflow:auto;
        background-color: red;
        position: relative;
        top: -1em;
    }



            /* Readings */
    .howTo-reading{
        background-color:#a41010;
        height: 300px;
        position: relative;
        top: 15px
    }

    .scroll-box2{
        height:240px;
        width:90vw;
        border:1px solid rgba(255, 0, 0, 0);
        font:16px/26px Georgia, Garamond, Serif;
        overflow:auto;
        background-color: rgb(0, 255, 81);
        position: relative;
        top: -1em;
    }


        /* Footer */
        .card{
            position: absolute;
            top: 230em;
            width: 100vw;
            left: -8vw;

    /* .How-To{
        position: absolute;
        top: 125rem;
        left: 15%;
        background-color: white;
    } */

    /* .card-title-howTo{
        text-align: center;
        position: relative;
        top:15px;
    }

      .row-E{
        width: 200px;
      } */
     
        /* video box */
        /* .video-box{
            position: absolute;
            left: 0;
            top: 10%;

        }

        .video-box h4{
            text-align: center;
        } */

        /* Readings */
        /* .Reading{
            position: relative;
            top: 30em; 
        } */

}}
        
      
   

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    

    /* No Moble nad */
    .nav .fa-bars{
        display: none;
    }

    /* Nav Bar */

    .noMobile{
        height:50px;
    }
    #navb{
        position: fixed;
        z-index: 9;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    /* Log box */
    .logBox{
        background: #4b98e65c;
        width: 40vw;
        height: 35em;
        position: relative;
        left: 7.5%;
        top: 90px;
        border-radius: 5%;
        /* border: 2px solid red; */

        display: flex;
        flex-direction: column;
    }

    .logBox h2{
        color: red;
        text-align: center;
    }

    #box{
        position: relative;
        left: 5%;
        top: -30px;
        width: 35vw;
        font-size: 20px;
    }

    .invalid-feedback{
        position: absolute;
        z-index: 4;
        left: 20%;
        top: 32px;
    }

    .invalid-feedback p{
        font-size: 1.2em;
        position: relative;
        left: -20%;
    }

    .btn{
        position: absolute;
        top: 40px;
        left: 35%;
    }

    .form-label{
        color: black;
        position: relative;
        left: 5%;
        top: 10px;
        font-size: 25px;
    }
    

        /* History Log */
        #logHistory{
            width: 50vw;            
            left: 48vw;
            height: 50em;
            background-color: #4b98e65c;
            position: absolute;
            border-radius: 1%;
            /* border: 1px solid red; */
            top: 7.5em;
        }

        #logHistory h2{
            color: white;
            text-align: center;
            position: relative;
            top: 10px;
        }

        footer{
            display: none;
        }



        /* Auto Parts */
        .autoParts-box{
            position: relative;
            background-color: yellow;
            top: 65em;
            height: 60em;
        }

        #AutoParts{
            display: flex;
            background-color: blue;
            border-radius: 2%;
            flex-direction: column;
            width: 85vw;
            height: 101em;            
            left: 8.7vw;
        }
        #AutoParts > #flex{
            background-color: white;
            margin: 50px;
            padding: 20px;
            font-size: 20px;
            height: 400px;

            position: relative;
            top: 4em;
        } 

        .autoParts-box h2{
            text-align: center;
            color: white;
            font-size: 3em;
            position: relative;
            top: 0.5em;
        }

        .autoParts-box h3{
            text-align: center;
            letter-spacing: 5px;
            font-size: 1.5em;
        }

        .fa-circle-left{
            font-size: 3.5em;
        }

        .fa-circle-right{
            font-size: 3.5em;
            position: relative;
            left: 5.7em;
        }


        #AutoParts details{
            position: relative;
            left: 0em;
            font-size: 1.7em;
            top: -1.9em;
            width: 50vw;
        }

        .tab-scroll{
            position: relative;
            top: 0.5em;
            left: -5em;
            height:420px;
            width:700px;
            background-color: black;
            border:1.5px solid #FFCC00;
            font:16px/26px Georgia, Garamond, Serif;
            overflow:auto;
        }

        .tab-scroll h8{
            color: red;
            font-size: 1.8em;
            position: relative;
            left: 40%;
            top: 2.4em;
        }

        .tab-scroll p{
            color: white;
            text-align: center;
            position: relative;
            top: 2em;
            font-size: 1.5em;
            margin: 2em;
        }
        .tab-scroll #Q-am{
            font-size: 2em;
            position: relative;
            top: -10px;
        }


        /* HowTo */
        #HowTo{
            position: relative;
            width: 85vw;
            height: 40em;            
            left: 8vw;
            top: 80em;
            background-color: yellow;
        }

        .ht-box{
            display: flex;

        }
        
        .ht-box > #divBox{
            background-color: pink;
            margin: 10px;
            padding: 30px;
            font-size: 30px;
            position: relative;
            left: 0%;
            top: 1em;
            width: 100vw;
            height: 70vw;
        }

        #HowTo h2{
            text-align: center;
            position: relative;
            top: 0.5em;
            font-size: 3em;
        }
 } 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */